{
  "parser": "@babel/eslint-parser",
  "extends": [
    "@sliit-foss/eslint-config-internal",
    "turbo"
  ],
  "rules": {
    "newline-per-chained-call": "off",
    "turbo/no-undeclared-env-vars": "off"
  }
}