@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown * {
    all: revert;
  }
}

html {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background-color: #000000;
}

html::-webkit-scrollbar {
  width: 5px;
  background-color: #000000;
}

html::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 2px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

input:-internal-autofill-selected {
  border: 1px solid rgb(17, 24, 39) !important;
}

*[data-testid='table-element'] {
  width: 100%;
}

*[data-testid='table-element'] th {
  text-align: left;
}
